<section id="howitworks" class="pb-16">
    <div class=" py-20 bg-flame-500 horizontal-padding ">
        <h1 class=" text-white text-center sm:text-2xl md:text-2xl lg:text-3xl text-4xl font-semibold">How Covenda Works</h1>
    </div>
    <div class=" horizontal-padding mt-4 sm:mt-8 md:mt-8 flex flex-col gap-10">
        <div class=" grid grid-cols-2 sm:grid-cols-1 md:grid-cols-1 gap-3">
            <div class=" flex flex-col justify-center">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">1</span></p>
                    <p class="mt-4 font-medium text-lg">Create your company <br> account in <span class=" text-flame-600">1 minute</span></p>
                    <p class=" opacity-70 mt-1 text-sm">Get onboarded on Covenda in few clicks. The sign-up process is <br> swift and smooth.</p>
                </div>
            </div>
            <div class=" flex justify-end">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/1.png" alt="">
                </div>
            </div>
        </div>

        <div class=" grid grid-cols-2 sm:grid-cols-1 md:grid-cols-1 gap-3">
            <div class=" flex justify-end sm:order-2 md:order-2">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/2.png" alt="">
                </div>
            </div>
            <div class=" flex flex-col justify-center items-end sm:items-start md:items-start">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">2</span></p>
                    <p class="mt-4 font-medium text-lg">Invite your team members to <br> collaborate</p>
                    <p class=" opacity-70 mt-1 text-sm">Get onboarded on Covenda in few clicks. The sign-up process <br> is swift and smooth.</p>
                </div>
            </div>
        
        </div>

        <div class=" grid grid-cols-2  sm:grid-cols-1 md:grid-cols-1 gap-3">
            <div class=" flex flex-col justify-center">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">3</span></p>
                    <p class="mt-4 font-medium text-lg">Evaluate Cyber Threats</p>
                    <p class=" opacity-70 mt-1 text-sm">Prevention is the best practice for cyber risks. We simulate <br> attacks and defenses across the business and its systems.</p>
                </div>
            </div>
            <div class=" flex justify-end">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/3.png" alt="">
                </div>
            </div>
        </div>

        
        <div class=" grid grid-cols-2  sm:grid-cols-1 md:grid-cols-1 gap-3">
        
            <div class=" flex justify-end sm:order-2 md:order-2">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/4.png" alt="">
                </div>
            </div>
            <div class=" flex flex-col justify-center items-end sm:items-start md:items-start">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">4</span></p>
                    <p class="mt-4 font-medium text-lg">Know your Controls</p>
                    <p class=" opacity-70 mt-1 text-sm">Our AI capability prescribes related security and privacy <br> measures against cyber threats.</p>
                </div>
            </div>
        </div>

        <div class=" grid grid-cols-2  sm:grid-cols-1 md:grid-cols-1 gap-3">
            <div class=" flex flex-col justify-center">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">5</span></p>
                    <p class="mt-4 font-medium text-lg">Prioritize Risks</p>
                    <p class=" opacity-70 mt-1 text-sm">Our ML risk prediction reveals your threat impact, likelihood, and <br> control effectiveness.</p>
                </div>
            </div>
            <div class=" flex justify-end">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/5.png" alt="">
                </div>
            </div>
        </div>

        <div class=" grid grid-cols-2  sm:grid-cols-1 md:grid-cols-1 gap-3">
        
            <div class=" flex justify-end sm:order-2 md:order-2">
                <div class="p-6 hover:rounded-md  hover:shadow-2xl">
                    <img src="assets/works/6.png" alt="">
                </div>
            </div>
            <div class=" flex flex-col justify-center items-end sm:items-start md:items-start">
                <div>
                    <p><span class="px-4 rounded-lg py-3 bg-flame-100 text-xl text-blue-600 font-bold">6</span></p>
                    <p class="mt-4 font-medium text-lg">Orchestrate Response</p>
                    <p class=" opacity-70 mt-1 text-sm">Our intuitive workflows help you control your riskiest threats <br> and improve your cyber risk rating.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>